/META-INF/
/applicationContext-loop.xml
/applicationContext.xml
/customer.properties
/hibernate_loc.cfg.xml
/hibernate_one.cfg.xml
/hibernate_ora.cfg.xml
/hibernate_pro.cfg.xml
/hibernate_uat.cfg.xml
/log4j.properties
/maventest/
/moban/
/net/
/project_service.properties
/proxool_loc.xml
/proxool_one.xml
/proxool_ora.xml
/proxool_pro.xml
/proxool_uat.xml
/struts.xml
/vas/
